@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter-400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/assets/fonts/Inter_400-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter-500';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/src/assets/fonts/Inter_500-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter-600';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/src/assets/fonts/Inter_600-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter-700';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/src/assets/fonts/Inter_700-Bold.ttf') format('truetype');
  }
}

@layer base {
  body {
    font-family: 'Inter-400', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color: theme('colors.black.100');
    background-color: theme('colors.background');
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark body {
    color: theme('colors.dark.text');
    background-color: theme('colors.dark.background');
  }
}

@layer components {
  .input,
  .textarea {
    @apply block w-full py-2 px-2 text-black-200 border-[1px] border-violet-200 border-opacity-40 outline-none transition-all duration-250
    placeholder:text-black-100
    focus:border-opacity-100;
  }
}

@layer components {
  .text-ukraine-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 from-40% via-amber-500 via-60% to-blue-600 to-90%;
  }
}

@keyframes waving-flag {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-waving-flag {
  background-size: 200% 200%;
  animation: waving-flag 3s ease-in-out infinite;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.mySwiper .swiper-wrapper {
  margin-bottom: 40px !important;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px !important;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 50px !important;
  }
}

.mySwiper-prev,
.mySwiper-next {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  position: initial !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  margin: 0 7px !important;
  border: 1px solid #667085 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: #667085 !important;
}
